/* GLOBAL
 * -------------------------- */

button {
  background: #5191CD;
}
button:hover {
  background-color: #457DB1;
}

body {
  background: #FFFBF4;
}

h1,h2,h3 {
  font-family: 'Signika Negative', sans-serif;
}

.more { display: none }


/* HEADER
 * -------------------------- */

.site-header {
  background: white;
}
.logo {
  margin: .3em;
}
.main-nav > li > a {
  margin-top: 1.3em;
}
.main-nav .tiny.button {
  margin-top: .8em;
  font-size: 1em;
}

.site-header + .container {
  min-height: 32em;
  display: block;
}

/* HERO
 * -------------------------- */

#hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0, center;
  background-image: url('../img/bg1.jpg');
  position: relative;
}


#hero h1 {
  color: white;
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  margin: 5.8em 0 .2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
  position: relative;
  background-image: url('../img/shade.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  display: inline-block;
  width: auto;
}

#hero h3 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
  font-size: 1.3em;
  background-image: url('../img/shade.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  display: inline-block;
}


/* New Hero */

#hero .search {
  /*margin: 24em 0 4em;*/
}

.search input,
.search button {
  height: 42px;
}
.search button {
  line-height: 42px;
  padding-top: 0;
}




/* SEARCH RESULTS
 * -------------------------- */

.map-container {
  position: relative;
}
.search-bar {
  z-index: 100;
  width: 100%;
}


#map_canvas, #map {
  width: 100%;
  height: 20em;
}
#map_canvas .fa-user {
  font-size: 2em;
  text-shadow: 2px 2px 1px white;
}
#map_canvas .fa-user, .fa-user.key {
  color: #5191CD;
}


.map-tip {
  width: 100%;
}
.map-tip img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
#results {
  margin: 1em 0 2em;
}
.result {
  position: relative;
  margin-bottom: 1.5em !important;
}
.fa-user.vacant {
  color: #B4B4B4;
}
.result h3 {
  margin: 0 0 1.4em 0;
  font-size: 1.4em;
}
.result .title {
  margin: 0 0 .5em;
  line-height: 1em;
}
.result .title > small {
  white-space: nowrap;

}
.result .description {
  font-size: .8em;
  line-height: 1.3em;
  margin: 0;
}
.result .host {
  line-height: .9em;
  margin: .2em 0 .3em;
}
.result .host .stars {
  white-space: nowrap;
}
.result .pic-wrapper {
  float: left;
  padding-right: 10px;
  position: relative;
}

.result .pic-wrapper {
  position: relative;
}
.result .date {
  position: absolute;
}
.result .price {
  position: absolute;
  border: 1px solid #FFBE81;
  background: white;
  width: 2.4em;
  height: 2.4em;
  font-size: 1em;
  line-height: 2.4em;
  text-align: center;
  border-radius: 100%;
  font-family: 'Signika Negative', sans-serif;
  top:-0.2em;
  left: -0.2em;
}


/* EVENT - PUBLIC
 * -------------------------- */

#directions #map {
  height: 10em !important;
}
.event-view .number-of-guests {
  width: 4em;
}
.event-view small {
  font-size: .77em;
}
.event-view .price {
  font-size: 2.4em;
  line-height: 1em;
}
.event-view .properties p {
  margin-bottom: 0

}
.event-view .book-now {
  font-size: 1.2em;
  line-height: 1.7em;
  margin-top: .2em;
}



/* CREATE EVENT
 * -------------------------- */

.create-event dl { margin-bottom: 3em }
.create-event .active ~ a {
  background: red !important;
}

.address-title {
  margin-bottom: .2em;
}
.exisiting-address address {
  margin-bottom: 1.2em;
}
.new-address address {
  margin-bottom: 2em;
}

.preview .result {
  border: 1px solid #E4E4E4;
  background: #FFF;
  position: relative;
}



/* DASHBOARD
 * -------------------------- */

.dashboard-menu .button {
  margin-bottom: 0;
}


.account-dashboard {
  padding-top: 1em;
}


.activity-feed p {
  margin-bottom: .2em
}
.activity-feed .icon i {
  font-size: 1.3em;
  color: #8B8FA7;
}


.suggested-actions .completed {
  text-decoration: line-through;
}
.suggested-actions .completed i {
  text-decoration: none;
  margin-left: .2em;
}

/* DASHBOARD -- EVENTS
 * -------------------------- */

.event,
.reservation {
  padding: .6em;
  position: relative;
  box-shadow: inset 0 0 0 3px #FFF;
  background: #F7F9FA;
  margin-bottom: 0.4em;
  border: 1px solid #DDD;
}

.guest-approval {
  width: 100%;
}
.guest-approval .label {
  width: 5.6em;
  padding: 5px 0px
}
.guest-approval .picker .fa {
  font-size: 1.23em
}

.guest-approval .picker .fa:hover {
  cursor: pointer;
  color: black;
}
.guest-approval .picker {
  color: #BBC9CE;
  text-align: center;
}
.guest-approval .picker  span {
  margin: 0 .3em;

}

.status-row {
  width: 6.2em;
}
.action-row {
  width: 4.5em;
}

.reservation .contact-host {
  font-size: .8em;
  position: absolute;
  bottom: 0.79em;
  right: 0.6em;
  display: block;
  white-space: nowrap;
}
.reservation time {
  white-space: nowrap;
}
.reservation {
  padding-top: .5em;
}
.reservation .price {
  display: inline-block;
  position: absolute;
  right: 0.4em;
  top: 0.1em;
}
.reservation p {
  margin-bottom: 0.5em;
}

.button .fa-chevron-down {
  margin-left: .7em;
}



/* DASHBOARD -- MESSAGES
 * -------------------------- */
.account-dashboard .messages .unread {
  font-weight: 600;
}



/* CHECKOUT CONFIRMATION
 * -------------------------- */

 .checkout-confirmation .confirm-reservation {
  margin-top: 1em;
 }
.checkout-confirmation img {
  margin-bottom: 1em;
}



/* SIGNUP FORM
 * -------------------------- */

#sign-up-bar {
  padding: .6em 0 .2em;
  background: #FFF;
}
#sign-up-bar .form-input {
  margin-top: .5em;
}
#sign-up-bar button {
  height: 2.9em;
  line-height: 2.9em;
  padding: 0 1em;
  margin: .3em 0 .3em 0;
}

#sign-up-bar input {
  height: 2.9em;
  line-height: 2.9em;
}

#sign-up-bar #host-label {
  margin-top: 0.8em;
}
#like-to-host {
  margin: 0 .7em 0 0;
  vertical-align: middle;
}
#sign-up #cook {
  margin-right: .3em;
}

.form-heading {
  padding: .7em 0 0;
  margin-bottom: .6em;
  display: block;
  font-size: 1rem;
}


/* TOGGLE BUTTON
 * -------------------------- */

#toggle-button {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 2em auto;
  display: block;
  cursor: pointer;
}

#thumb {
  content: '';
  width: 102px;
  height: 52px;
  display: block;
  top: -4px;
  float: left;
  border-radius: 5px;
  padding: 0px;
  margin: 0 0 0 -50px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  box-shadow:0 3px 12px -3px rgba(0, 0, 0, 0.3);
  transition: margin 0.3s;
  border: 6px solid #FF9E9E;
}

.for-hosts, .for-guests {
  width:100px;
  height:45px;
  line-height:45px;
  display:block;
  position:absolute;
  text-align:center;
  box-shadow:1px -1px 5px rgba(0, 0, 0, 0.1) inset;
  border-top:1px solid rgba(25, 77, 96, 0.23);
  transition: .4s all;
  font-weight: bold;
  font-size: .88em;
}

.for-hosts {
  background-color: #FAF2EC;
  border-radius: 0 5px 5px 0;
  margin-left:50%;
  border-right:1px solid rgba(255,255,255,1);
  border-bottom:1px solid rgba(255,255,255,1);
}
.for-guests {
  background-color: white;
  border-radius:5px 0 0 5px;
  overflow:hidden;
  border-left:1px solid rgba(255, 255, 255, 1);
  border-bottom:1px solid rgba(255,255,255,0.8);
  left:-45px;
}

/* Button state */


.hosting #thumb {
  margin: 0px 0px 0px 50px;
}
.hosting .for-guests {
  background-color: #FAF2EC;
}
.hosting .for-hosts {
  background: white;
}


/* FEATURES
 * -------------------------- */

#how-it-works * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.feature {
  margin: 0 auto 3em;
  max-width: 22em;
}

.feature > img {
  margin: 1em auto .8em;
  display: block;
}
.feature > h3 {
  text-align: center;
}

.how-it-works h1 {
   margin-top: 1em;
}
.hosting #host-bg {
   opacity: 1;
}
.hosting #guest-features {
  display: none;
}
.hosting #host-features {
  display: block;
}
#host-features {
  display: none;
}



/* FOOTER
 * -------------------------- */

.site-footer {
  background: #457DB1;
  padding: 1.66em 0 1em;
}
.site-footer h4, .site-footer a, .site-footer p {
  color: #EEEEEE;
}
.site-footer a:hover {
  color: #FFF;
}
.site-footer .social-sharing {
  font-size: 1.9em;
  margin-bottom: 2.3em
}




/* FACEBOOK BUTTON
 * -------------------------- */

.facebook {
  display: block;
  margin: 1em auto 2em;
  width: 225px;
}
.facebook a {
  float: left;
  font-size: 12px;
  color: whitesmoke;

}
.fbLike {
  text-decoration: none;
  background: #3d599b url("https://cdn1.iconfinder.com/data/icons/freebie%3A-social-media-icons/64/facebook.png") no-repeat left center;
  background-size: 20px;
  color: #fff;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  display: block;
  border-radius: 2px;
  font-weight: 400;
  width: 54px;
  margin-right: 20px;
}
.fbLike span {
  margin-left: 34px;
}
.fbShare {
  text-decoration: none;
  background: #3d599b url("https://cdn1.iconfinder.com/data/icons/freebie%3A-social-media-icons/64/facebook.png") no-repeat left center;
  background-size: 20px;
  color: #fff;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  display: block;
  border-radius: 2px;
  font-weight: 400;
  width: 62px;
}
.fbShare span {
  margin-left: 42px;
}
.fbLike span,
.fbShare span {
  position: absolute;
  background: #fff;
  text-align: center;
  font-weight: 800;
  color: rgba(0,0,0,0.4);
  line-height: 18px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 0px 5px;
}
.fbLike span:after,
.fbShare span:after {
  content: '';
  display: block;
  position: absolute;
  margin: -12px 0px 0px -12px;
  background: #fff;
  height: 6px;
  width: 6px;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  -webkit-transform: rotate(45deg);
  left: 8px;
}
