@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */



@media only screen and (min-width: 40.063em) {

  .dashboard-menu li {
    padding-bottom: 0.7em;
  }


  #hero h1 {
    margin: 7em 0 0 0;
    font-size: 2.8em;
  }

  #hero h3 {
    display: block !important;
    margin: 0 0 .7em 0;
    width: 20em;
  }
  #sign-up {
    margin: 12em 0 2em;
  }
  #map {
    height: 30em;
  }

} /* min-width 641px, medium screens */



@media only screen and (min-width: 64.063em) {
  #hero h1 {
    font-size: 2.8em;
  }
  #hero h3 {
    font-size: 1.6em;
  }

  .checkout-confirmation .confirm-reservation {
    margin-top: 0em;
  }

} /* min-width 1025px, large screens */



@media only screen and (min-width: 90.063em) {

} /* min-width 1441px, xlarge screens */

