<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EatnBe | peer-to-peer food network</title>

  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="styles/font-awesome.css" />
  <link rel="stylesheet" href="styles/foundation.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/responsive.css" />

  <script src="scripts/modernizr.js"></script>
</head>
<body>

  <header class="site-header">
    <div class="row">
      <div class="large-3 medium-4 columns">
        <a href="index.html"><img src="img/logo.png" alt="eatnbe" class="logo"></a>
      </div>

      <div class="large-6 medium-6 columns">
        <ul class="inline-list right main-nav">
          <li><a href="dash.html">Hi, Ben!</a></li>          <li><a href="host.html" class="tiny button">Host</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="account-dashboard" ng-controller="DashboardCtrl" ng-app>

    <div class="row">

      <div class="large-2 medium-2 columns">
        <ul class="small-block-grid-2 medium-block-grid-1 dashboard-menu">
          <li><a class="button secondary expand" href="dash.html"><i class="fa fa-dashboard hide-for-medium"></i> Overview</a></li>
          <li><a class="button secondary expand" href="dash-profile.html"><i class="fa fa-user hide-for-medium"></i> Profile</a></li>
          <li><a class="button secondary expand" href="dash-events.html"><i class="fa fa-home hide-for-medium"></i> My Events</a></li>
          <li><a class="button secondary expand" href="dash-reservations.html"><i class="fa fa-ticket hide-for-medium"></i> Reservations</a></li>
          <li><a class="button secondary expand" href="dash-inbox.html"><i class="fa fa-envelope hide-for-medium"></i> Inbox</a></li>
          <li><a class="button secondary expand" href="dash-billing.html"><i class="fa fa-credit-card hide-for-medium"></i> Billing</a></li>
        </ul>
      </div>


      <div class="large-10 medium-9 columns">

        <div class="row">

          <div class="large-12 medium-12 columns reservations">
            <h3><i class="fa fa-ticket"></i> Reservations:</h3>
            <ul class="no-bullet">

              <li class="reservation">
                <div class="row">

                  <div class="large-9 medium-9 small-9 columns">
                    <h5><a href="event-public.html">Fried Chilly Squid (1 ticket)</a> <small><br><time>8pm on 2/17/2014</time></small></h5>
                    <a><label class="label success" href="#">confirmed</label> <small>View Receipt</small></a>
                  </div>
                  <h3 class="price text-right">$22</h3>
                  <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>

                </div>
              </li>

              <li class="reservation">
                <div class="row">

                  <div class="large-9 medium-9 small-9 columns">
                    <h5><a href="event-public.html">Entrepreneur Pancake Breakfast (2 tickets)</a><br><small><time>8am on 10/11/2014</time></small></h5>
                    <a class="pending label" href="#">pending approval</a>
                  </div>
                  <h3 class="price">$22</h3>
                  <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>
                </div>
              </li>

            </ul>
            <a class="button small secondary" ng-click="showMore()">PAST RESERVATIONS <i class="fa fa-chevron-down"></i></a>
            <div class="more">

              <ul class="no-bullet">
                <li class="past reservation">
                  <div class="row">

                    <div class="large-9 medium-9 small-9 columns">
                      <h5><a href="event-public.html">Fried Chilly Squid (1 ticket)</a> <small><br><time>8pm on 2/17/2014</time></small></h5>
                      <a><label class="label success" href="#">confirmed</label> <small>View Receipt</small></a>
                    </div>
                    <h3 class="price text-right">$22</h3>
                    <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>

                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div id="send-a-message" class="reveal-modal small" data-reveal>
          <h2>Send a message to Jillian</h2>
          <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message for Jillian here"></textarea>
          <a href="#" class="button">Send!</a>
          <a ng-click="closeModal()" class="close-reveal-modal">&#215;</a>
        </div>
      </div>

    </div>

  </section>

  <footer class="site-footer">
    <div class="row">
      <div class="large-4 medium-4 columns">
        <h4>Company</h4>
        <ul class="no-bullet">
          <li><a href="/about">About us</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Legal</h4>
        <ul class="no-bullet">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/privacy">Terms of Use</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Connect with us</h4>
        <ul class="inline-list social-sharing">
          <li><a href="https://www.facebook.com/EatnBe"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eatnbe"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p class="text-center"><small>© 2013 eatnbe - peer-to-peer food network. All Rights Reserved.</small></p>
      </div>
    </div>
  </footer>


  <!-- GLOBAL JS -->
  <script src="scripts/jquery.js"></script>
  <script src="scripts/foundation.min.js"></script>
  <script src="scripts/vendor/angular.min.js"></script>

  <!-- PAGE SPECIFIC JS -->
  <script src="scripts/controllers/dashboard.js"></script>

  <!-- MORE GLOBAL JS -->

  <script>
  $(document).foundation();
  </script>

</body>
</html>
