<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EatnBe | peer-to-peer food network</title>

  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="styles/font-awesome.css" />
  <link rel="stylesheet" href="styles/foundation.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/responsive.css" />

  <script src="scripts/modernizr.js"></script>
</head>
<body>

  <header class="site-header">
    <div class="row">
      <div class="large-3 medium-4 columns">
        <a href="index.html"><img src="img/logo.png" alt="eatnbe" class="logo"></a>
      </div>

      <div class="large-6 medium-6 columns">
        <ul class="inline-list right main-nav">
          <li><a href="dashboard.html">Hi, Ben!</a></li>
          <li><a href="host.html" class="tiny button">Host</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="create-event" ng-controller="CreateEventCtrl" ng-app>
    <div class="row">
      <div class="large-12 columns">
        <h1>Create an Event</h1>
      </div>
    </div>

    <form data-abide>

      <div class="row">
        <div class="large-7 medium-7 columns">


          <h3>About:</h3>
          <div class="row">

            <div class="large-6 columns">
              <label for="">Upload an image to represent your event:</label>
              <img src="http://placehold.it/500x360" class="event-img expand" alt="">
              <input type="file" data-ng-model="event.image">
            </div>

            <div class="large-6 columns">
              <label>Give your event a name</label>
              <input type="text" placeholder='e.g. "Masti pasta"' data-ng-model="event.title" >
              <small class="error" data-error-message="">Your event must have a name</small>

              <label>Describe your meal <span id="textarea-feedback">(<span id="text-remaining">400</span> characters left)</span></label>
              <textarea
              id="description-textarea"
              placeholder='please enter a description of your event'
              data-ng-model="event.description"
              max-length="400"
              cols="30"
              required
              ></textarea>
              <small class="error" data-error-message="">Your event must have a description</small>

            </div>

          </div>

          <h3>Time:</h3>
          <div class="row">
            <div class="large-5 medium-5 small-6 columns">
              <label>Date</label>
              <input data-ng-model="event.date" type="date"/>
              <small class="error" data-error-message="">Your event must have a date</small>

            </div>

            <div class="large-5 medium-5 small-6 columns">
              <label>Start Time</label>
              <input type="time" data-ng-model="event.time"/>
              <small class="error" data-error-message="">Your event must have a time</small>

            </div>

          </div>


          <h3>Pricing:</h3>

          <div class="row">

            <div class="large-5 medium-5 small-6 columns">
              <label>Price ($USD)</label>
              <input type="number" data-ng-model="event.price" placeholder='e.g. $25' required/>
              <small class="error" data-error-message="">Your event must have a price</small>
            </div>

            <div class="large-5 medium-5 small-6 columns">
              <label>Guest Limit</label>
              <input type="number" data-ng-model="event.guest_limit" placeholder='8'/>
            </div>

          </div>

          <div class="earnings alert-box success row">
            <div class="small-12 columns">
              <p><i class="fa fa-dollar large"></i> You could earn up to <strong ng-bind-template="${{event.price * event.guest_limit}}"></strong> from hosting this event!</p>
            </div>
          </div>

        </div>

        <div class="large-5 medium-5 columns">

          <div class="row">

            <div class="preview large-12 columns ">

              <div class="row">
                <div class="large-12 columns">
                  <h3>Search Result Preview:</h3>
                </div>
              </div>

              <article class="result clearfix">

                <div class="large-12 columns">

                  <div class="pic-wrapper small-5 medium-4 large-5">
                    <a href="event-public.html" class="event-link">
                      <img src="http://placehold.it/300x214" class="expand" alt="">
                      <span class="price" ng-bind-template="${{event.price}}"></span>
                    </a>
                    <p class="host">
                      <a href="#"><small>Bob</small> <small class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></small></a>
                    </p>
                  </div>

                  <div class="main-text">
                    <h4 class="title" class="price"><span ng-bind-template="{{event.title}}">Turkey Dinner</span><br/><small><span ng-bind-template="{{event.date}}">12/3/12</span> <span ng-bind-template="{{event.time}}">3:00PM</span></small></h4>
                    <p class="description" ng-bind-template="{{event.description}}">It's gonna be damn tasty.</p>
                  </div>

                </div>

              </article>

            </div>
            <div class="large-12 columns">
              <button class="large expand">Create Event</button>
            </div>
          </div>

        </div>

      </div>

      <div class="row addresses">
        <div class="large-9 medium-10 columns">
          <h3>Location:</h3>

          <ul class="no-bullet">

            <li class="existing-address">
              <label class='panel clearfix'>
                <p class="row">
                  <div class="large-2 medium-2 small-2 columns">
                    <input type="radio" name="addresses[]" value="123 Testing Lane, Palo Alto, CA">
                  </div>
                  <div class="large-10 medium-10 small-10 columns">
                    <address>123 Franklin Lane, Palo Alto, CA 94306, USA</address>
                  </div>
                </p>
              </label>
            </li>

            <li class="existing-address">
              <label class='panel clearfix'>
                <p class="row">
                  <div class="large-2 medium-2 small-2 columns">
                    <input type="radio" name="addresses[]" value="123 Testing Lane, Palo Alto, CA">
                  </div>
                  <div class="large-10 medium-10 small-10 columns">
                    <address>990 Wave Street, Santa Cruz, CA 94306, USA</address>
                  </div>
                </p>
              </label>
            </li>

            <li class='new-address panel'>
              <label>
                <p class="row">
                  <div class="large-2 medium-2 small-2 columns">
                    <input id="new-address-radio" type="radio" name="addresses[]" value="">
                  </div>
                  <div class="large-10 medium-10 small-10 columns">
                    <address id="event-address" data-ng-model="event.address">
                      Find a new address on the map
                    </address>
                  </div>
                </p>
              </label>

              <input type="text" id="address-input" />
              <div id="map_canvas"></div>
            </li>

          </ul>


          <div class="alert-box">
            <p>For EatnBe dev team</p>
            <input type="text" id="gps-coordinates" placeholder="gps coords" >
            <input type="text" id="event-neighborhood" placeholder="event-neighborhood" >
          </div>

        </div>
      </div>

      <div class="row amenities">
        <div class="large-12 columns">
          <h3>Amenities:</h3>
          <p>Select the amenities available to your guests</p>

          <ul class="large-block-grid-6 medium-block-grid-6 small-block-grid-3">


            <li>
              <input type="checkbox" name="amenity[]" class="Public_Transportation" value="67" style="display: none;" id="public-transit">
              <label for="public-transit">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Public_Transportation.png" data-option="Public_Transportation" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Public Transportation</label>
            </li>
            <li>
              <input type="checkbox" name="amenity[]" class="Free_Parking_On_Premises" value="64" style="display: none;" id="parking">
              <label for="parking">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Free_Parking_On_Premises.png" data-option="Free_Parking_On_Premises" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Free Parking On Premises</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Street_Parking" value="65" style="display: none;" id="street-parking">
              <label for="street-parking">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Street_Parking.png" data-option="Street_Parking" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Street Parking </label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Paid_Parking_Nearby" value="66" style="display: none;" id="paid-parking">
              <label for="paid-parking">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Paid_Parking_Nearby.png" data-option="Paid_Parking_Nearby" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Paid Parking Nearby</label>
            </li>


            <li>
              <input type="checkbox" name="amenity[]" class="Elevator_Accessible" value="68" style="display: none;" id="elevator">

              <label for="elevator">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Elevator_Accessible.png" data-option="Elevator_Accessible" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Elevator Accessible</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Handicap_Accessible" value="69" style="display: none;" id="handicap-accessible">
              <label for="handicap-accessible">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Handicap_Accessible.png" data-option="Handicap_Accessible" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Handicap Accessible</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Family_Friendly" value="75" style="display: none;" id="family">
              <label for="family">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Family_Friendly.png" data-option="Family_Friendly" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Family Friendly</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Kids_Friendly" value="74" style="display: none;" id="kids">
              <label for="kids">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Kids_Friendly.png" data-option="Kids_Friendly" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Kids Friendly</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Pets_In_House" value="76" style="display: none;" id="pets">
              <label for="pets">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Pets_In_House.png" data-option="Pets_In_House" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Pets In House</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Heating" value="71" style="display: none;" id="heating">
              <label for="heating">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Heating.png" data-option="Heating" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Heating</label>
            </li>

            <li>
              <input type="checkbox" id="ac" name="amenity[]" class="Air_Conditioning" value="70" style="display: none;">

              <label for="ac">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Air_Conditioning.png" data-option="Air_Conditioning" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Air Conditioning</label>
            </li>

            <li>
              <input type="checkbox" name="amenity[]" class="Smoking_Allowed_Inside" value="72" style="display: none;" id="smoking-inside">
              <label for="smoking-inside">
                <img src="http://27.251.32.9:1008/eatnbe_new/skin/frontend/citrisys/eatnbe/images/amenities/Smoking_Allowed_Inside.png" data-option="Smoking_Allowed_Inside" class="amenity-img">
              </label>
              <label class="text-center amenity-title">Smoking Allowed Inside </label>
            </li>

          </ul>

        </div>

        <div class="large-12 columns">
          <button class="large expand">Create Event</button>
        </div>

      </div>


    </form>

  </section>

  <footer class="site-footer">
    <div class="row">
      <div class="large-4 medium-4 columns">
        <h4>Company</h4>
        <ul class="no-bullet">
          <li><a href="/about">About us</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Legal</h4>
        <ul class="no-bullet">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/privacy">Terms of Use</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Connect with us</h4>
        <ul class="inline-list social-sharing">
          <li><a href="https://www.facebook.com/EatnBe"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eatnbe"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p class="text-center"><small>© 2013 eatnbe - peer-to-peer food network. All Rights Reserved.</small></p>
      </div>
    </div>
  </footer>


  <!-- GLOBAL JS -->
  <script src="scripts/jquery.js"></script>
  <script src="scripts/foundation.min.js"></script>
  <script src="scripts/vendor/angular.min.js"></script>

  <!-- PAGE SPECIFIC JS -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
  <script src="scripts/controllers/create-event.js"></script>

  <!-- GLOBAL JS -->

  <script>
  $(document).foundation();
  </script>

</body>
</html>
