<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EatnBe | peer-to-peer food network</title>

  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="styles/font-awesome.css" />
  <link rel="stylesheet" href="styles/foundation.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/responsive.css" />

  <script src="scripts/modernizr.js"></script>
</head>
<body>

  <header class="site-header">
    <div class="row">
      <div class="large-3 medium-4 columns">
        <a href="index.html"><img src="img/logo.png" alt="eatnbe" class="logo"></a>
      </div>

      <div class="large-6 medium-6 columns">
        <ul class="inline-list right main-nav">
          <li><a href="dashboard.html">Hi, Ben!</a></li>
          <li><a href="host.html" class="tiny button">Host</a></li>
          <li><a href="logout.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="create-event" ng-controller="CreateEventCtrl" ng-app>
    <div class="row">
      <div class="large-12 columns">
        <h1>Create an Event</h1>
      </div>
    </div>

    <form>
      <div class="row">

        <div class="large-6 medium-6 columns">

          <dl class="accordion" data-accordion>

            <dd>
              <a href="#about-me"><i class="fa fa-user"></i> About the Host:</a>
              <div class="content" id="about-me">
                <p>About you form goes here</p>
              </div>
            </dd>

            <dd>
            <a href="#about-event"><i class="fa fa-edit"></i> The Essential Details</a>

              <div class="content active" id="about-event">

                <label>Name</label>
                <input type="text" placeholder='e.g. "Masti pasta"' data-ng-model="event.title" >

                <label for="">Upload an Image</label>
                <img src="http://placehold.it/300x214" class="expand" alt="">
                <input type="file" data-ng-model="event.image">

                <label>Description</label>
                <textarea placeholder='please enter a description of your event' data-ng-model="event.description"></textarea>

                <div class="row">

                  <div class="large-6 medium-6 small-6 columns">
                    <label>Date</label>
                    <input data-ng-model="event.date" type="date"/>
                  </div>

                  <div class="large-6 medium-6 small-6 columns">
                    <label>Start Time</label>
                    <input type="time" data-ng-model="event.time"/>
                  </div>

                </div>

                <div class="row">
                  <div class="large-6 medium-6 small-6 columns">
                    <label>Price per guest</label>
                    <div class="row">
                      <div class="large-6 medium-6 small-12 columns">
                        <input type="number" data-ng-model="event.price" placeholder='e.g. $25'/>
                      </div>
                    </div>
                  </div>

                  <div class="large-6 medium-6 small-6 columns">
                    <label>Number of guests</label>
                    <div class="row">
                      <div class="large-6 medium-6 small-12 columns">
                        <input type="number" placeholder='8'/>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 medium-12 columns addresses">
                    <h3>Choose a Location:</h3>

                    <p>Existing addresses:</p>

                    <ul class="no-bullet">

                      <li class="existing-address">
                        <label class='panel clearfix'>
                          <p class="row">
                            <div class="large-2 medium-2 small-2 columns">
                              <input type="radio" name="addresses[]" value="123 Testing Lane, Palo Alto, CA">
                            </div>
                            <div class="large-10 medium-10 small-10 columns">
                              <address>123 Franklin Lane, Palo Alto, CA 94306, USA</address>
                            </div>
                          </p>
                        </label>
                      </li>

                      <li class="existing-address">
                        <label class='panel clearfix'>
                          <p class="row">
                            <div class="large-2 medium-2 small-2 columns">
                              <input type="radio" name="addresses[]" value="123 Testing Lane, Palo Alto, CA">
                            </div>
                            <div class="large-10 medium-10 small-10 columns">
                              <address>990 Wave Street, Santa Cruz, CA 94306, USA</address>
                            </div>
                          </p>
                        </label>
                      </li>
                    </ul>

                    <p>New address:</p>
                    <div class='new-address panel'>
                      <label>
                        <p class="row">
                          <div class="large-2 medium-2 small-2 columns">
                            <input id="new-address-radio" type="radio" name="addresses[]" value="">
                          </div>
                          <div class="large-10 medium-10 small-10 columns">
                            <address id="event-address" data-ng-model="event.address">
                              Please find your location on the map
                            </address>
                          </div>
                        </p>
                      </label>

                      <input type="text" id="address-input" />
                      <div id="map_canvas"></div>
                    </div>


                    <div>
                      <input type="text" id="gps-coordinates" placeholder="gps coords">
                    </div>

                  </div>
                </div>

              </div>

            </dd>

          </dl>

        </div>

        <div class="large-6 medium-6 columns">

          <div class="row">
            <div class="preview large-12 columns">

              <div class="row">
                <div class="large-12 columns">
                  <h3>Preview:<br><small>Here's how your event will look in search results:</small></h3>
                </div>
              </div>


              <article class="row result">

                <div class="large-12 columns">

                  <div class="pic-wrapper small-5 medium-4 large-5">
                    <a href="event-public.html" class="event-link">
                      <img src="http://placehold.it/300x214" class="expand" alt="">
                      <span class="price" ng-bind-template="${{event.price}}"></span>
                    </a>
                    <p class="host">
                      <a href="#"><small>Bob</small> <small class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></small></a>
                    </p>
                  </div>

                  <div class="main-text">
                    <h4 class="title" class="price"><span ng-bind-template="{{event.title}}">Turkey Dinner</span><br/><small><span ng-bind-template="{{event.date}}">12/3/12</span> <span ng-bind-template="{{event.time}}">3:00PM</span></small></h4>
                    <p class="description" ng-bind-template="{{event.description}}">It's gonna be damn tasty.</p>
                  </div>

                </div>

              </article>
            </div>

            <div class="large-6 columns">
              <button class="large expand">Create Event</button>
            </div>
          </div>
        </div>

      </div>
    </form>

  </section>

  <footer class="site-footer">
    <div class="row">
      <div class="large-4 medium-4 columns">
        <h4>Company</h4>
        <ul class="no-bullet">
          <li><a href="/about">About us</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Legal</h4>
        <ul class="no-bullet">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/privacy">Terms of Use</a></li>
        </ul>
      </div>
      <div class="large-4 medium-4 columns">
        <h4>Connect with us</h4>
        <ul class="inline-list social-sharing">
          <li><a href="https://www.facebook.com/EatnBe"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eatnbe"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p class="text-center"><small>© 2013 eatnbe - peer-to-peer food network. All Rights Reserved.</small></p>
      </div>
    </div>
  </footer>


<!-- GLOBAL JS -->
<script src="scripts/jquery.js"></script>
<script src="scripts/foundation.min.js"></script>
<script src="scripts/vendor/angular.min.js"></script>



<!-- CREATE EVENT JS -->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<script src="scripts/controllers/create-event.js"></script>

<script>
  $(document).foundation();
</script>

</body>
</html>
