
<div class="row">
  <div class="large-6 medium-6 columns events">
    <h3><i class="fa fa-cutlery"></i> Your Events:</h3>
    <ul class="no-bullet">
      <li class="event">
        <h4><a href="#">Turkey Dinner</a> <small>6pm on 2/2/2014</small> <a href="/events/edit/{{event_id}}"><small><i class="fa fa-edit"></i></small></a></h4>

        <table class="expand guest-approval">
          <legend>Guest List</legend>
          <thead>
            <th>Name</th>
            <th class="status-row text-center">Status</th>
            <th class="action-row text-center">Action</th>
          </thead>
          <tbody>
            <tr class="pending">
              <td><a href="#">Angela Jolie</a></td>
              <td><a class="label" href="#">pending</a></td>
              <td class="picker"><i class="fa fa-thumbs-up"></i><span>|</span><i class="fa fa-thumbs-down"></i></i></td>
            </tr>
            <tr class="confirmed">
              <td><a href="#">Batman</a></td>
              <td><a class="success label" href="#">confirmed</a></td>
              <td class="picker"><i class="fa fa-thumbs-up"></i><span>|</span><i class="fa fa-thumbs-down"></i></i></td>
            </tr>
            <tr class="confirmed">
              <td><a href="#">Robin</a></td>
              <td><a class="success label" href="#">confirmed</a></td>
              <td class="picker"><i class="fa fa-thumbs-up"></i><span>|</span><i class="fa fa-thumbs-down"></i></i></td>
            </tr>
            <tr class="rejected">
              <td><a href="#">Barney</a></td>
              <td><a class="alert label" href="#">rejected</a></td>
              <td class="picker"><i class="fa fa-thumbs-up"></i><span>|</span><i class="fa fa-thumbs-down"></i></i></td>
            </tr>
          </tbody>
        </table>
      </li>

      <li class="event">
        <label>Pending - Awaiting Review</label>
        <h4><a href="#">Roast Lamb</a> <small>7pm on 3/9/2014</small> <a href="/events/edit/{{event_id}}"><small><i class="fa fa-edit"></i></small></a></h4>

      </li>
    </ul>

    <a class="button small secondary"  ng-click="showMore()">PAST EVENTS <i class="fa fa-chevron-down"></i></a>

    <div class="more">
      <ul class="no-bullet">
        <li class="event">
          <label class="label secondary">Completed</label>
          <h4><a href="#">Gourmet Peanut Butter and Jelly Sandwiches</a> <small>12:30pm on 1/2/2014</small> <a href="/events/edit/{{event_id}}"><small><i class="fa fa-edit"></i></small></a></h4>

        </li>
      </ul>
    </div>



  </div>
  <div class="large-6 medium-6 columns reservations">
    <h3><i class="fa fa-ticket"></i> Reservations:</h3>
    <ul class="no-bullet">


      <li class="reservation">
        <div class="row">

          <div class="large-9 medium-9 small-9 columns">
            <h5><a href="event-public.html">Fried Chilly Squid (1 ticket)</a> <small><br><time>8pm on 2/17/2014</time></small></h5>
            <a><label class="label success" href="#">confirmed</label> <small>View Receipt</small></a>
          </div>
          <h3 class="price text-right">$22</h3>
          <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>

        </div>
      </li>

      <li class="reservation">
        <div class="row">

          <div class="large-9 medium-9 small-9 columns">
            <h5><a href="event-public.html">Entrepreneur Pancake Breakfast (2 tickets)</a><br><small><time>8am on 10/11/2014</time></small></h5>
            <a class="pending label" href="#">pending approval</a>
          </div>
          <h3 class="price">$22</h3>
          <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>
        </div>
      </li>

    </ul>
    <a class="button small secondary" ng-click="showMore()">PAST RESERVATIONS <i class="fa fa-chevron-down"></i></a>
    <div class="more">

    <ul class="no-bullet">
      <li class="past reservation">
        <div class="row">

          <div class="large-9 medium-9 small-9 columns">
            <h5><a href="event-public.html">Fried Chilly Squid (1 ticket)</a> <small><br><time>8pm on 2/17/2014</time></small></h5>
            <a><label class="label success" href="#">confirmed</label> <small>View Receipt</small></a>
          </div>
          <h3 class="price text-right">$22</h3>
          <a class="contact-host" ng-click="messageModal()">contact host <i class="fa fa-user"></i></a>

        </div>
      </li>

    </ul>


    </div>
  </div>
</div>

<div id="send-a-message" class="reveal-modal small" data-reveal>
  <h2>Send a message to Jillian</h2>
  <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message for Jillian here"></textarea>
  <a href="#" class="button">Send!</a>
  <a ng-click="closeModal()" class="close-reveal-modal">&#215;</a>
</div>