
<div class="row">
  <div class="large-6 medium-7 columns">
    <h3>Profile for Benjamin Franklin</h3>
    <p><strong>Name</strong>: Ben Franklin</p>
    <p><strong>Email</strong>: ben@franklin.com</p>
    <p><strong>Languages</strong>: English</p>
    <p><strong>Profession</strong>: Inventor</p>
    <p><strong>Bio</strong>: Benjamin Franklin was born in Boston on January 17, 1706. He was the tenth son of soap maker, Josiah Franklin. Benjamin's mother was Abiah Folger, the second wife of Josiah. In all, Josiah would father 17 children.
    <br/><br/>
    of the Executive Council of Pennsylvania. He served as a delegate to the Constitutional Convention and signed the Constitution. One of his last public acts was writing an anti-slavery treatise in 1789.
    <br/><br/>
    Franklin died on April 17, 1790 at the age of 84. 20,000 people attended the funeral of the man who was called, "the harmonious human multitude."</p>

  </div>
  <div class="large-6 medium-5 columns">
    <img src="http://placehold.it/300x300" class="expand" alt="">
    <p>Update Image <input type="file"></p>
  </div>
</div>
