
    <section id="hero">

      <div class="row">

        <div class="large-8 large-push-2 medium-10 medium-push-1 columns">
          <h1>Find a place to eat</h1>
          <h3>Discover the culture of homecooked food.</h3>

          <form class='search' action="#events">

            <div class="row">
              <div class="large-8 medium-8 columns">

                <div class="row collapse">
                  <div class="large-8 medium-8 columns">
                    <input class="expand" type="text"/>
                  </div>
                  <div class="large-4 medium-4 columns">
                    <button class="expand">Search</button>
                  </div>
                </div>

              </div>
            </div>

          </form>

        </div>

      </div>
    </section>


    <section>
      <div class="row">
        <div class="large-12 columns">

          <input type="checkbox" class="check" id="chkbx" name="toggle" checked/>
          <label id="toggle-button" for="chkbx">
            <div id="thumb"></div>
            <span class="for-guests">For Guests</span>
            <span class="for-hosts">For Hosts</span>
          </label>

          <ul class="inline-list facebook">
            <li>
              <a class='fbLike' href='https://www.facebook.com/EatnBe' target='_blank'><span class='likes'></span>Like</a>
            </li>

            <li>
              <a class='fbShare' href='http://www.facebook.com/share.php?u=http://eatnbe.co/&amp;title=EatnBe' target='_blank'><span class='shares'></span>Share</a>
            </li>
          </ul>

          <h1 class="text-center">How it Works</h1>

          <div class="row features">

            <div id="guest-features">

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/search-icon.png" alt="Search">
                  <h3>Search</h3>
                  <p>Hungry? Find your choice of home-cooked meals nearby</p>
                </div>
              </div>

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/reserve-icon.png" alt="Reserve">
                  <h3>Reserve</h3>
                  <p>Book a seat at the table and invite your friends</p>
                </div>
              </div>

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/eat-icon.png" alt="Eat">
                  <h3>Eat</h3>
                  <p>Eat great food and have a memorable dining experience</p>
                </div>
              </div>

            </div>


            <div id="host-features">

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/host-icon.png" alt="Host">
                  <h3>Host</h3>
                  <p>Share your joy of cooking. Host a memorable dinner for interesting people</p>
                </div>
              </div>

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/cook-icon.png" alt="Cook">
                  <h3>Cook</h3>
                  <p>Cook up a storm and get ready to share the table with your guests</p>
                </div>
              </div>

              <div class="large-4 medium-4 columns">
                <div class="feature">
                  <img src="img/serve-icon.png" alt="Serve">
                  <h3>Serve</h3>
                  <p>Provide an unforgettable dining experience</p>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </section>
